Host server
    HostName 127.0.0.1
    Port 22
    User admin
    IdentityFile ~/.ssh/id_ed25519
    PreferredAuthentications publickey
    ProxyJump proxy.server

Host github.com
    IdentityFile ~/.ssh/id_ed25519
    PreferredAuthentications publickey

Host *
AddressFamily inet
HashKnownHosts yes
AddKeysToAgent yes

ControlMaster auto
# ControlPath ~/.ssh/socket-%C
ControlPath ~/.ssh/socket-%r@%h:%p
ControlPersist 1h
ServerAliveInterval 30
ServerAliveCountMax 3

Compression yes
KexAlgorithms curve25519-sha256
Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes128-gcm@openssh.com,aes256-ctr
MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com
HostKeyAlgorithms ssh-ed25519

PreferredAuthentications keyboard-interactive,password
