Port 22

Banner /etc/issue

Protocol 2

AllowUsers USERNAME
PermitRootLogin no

StrictModes yes
RSAAuthentication yes
PubkeyAuthentication yes
AuthorizedKeysFile .ssh/authorized_keys
PasswordAuthentication yes
#PasswordAuthentication no
PermitEmptyPasswords no
ChallengeResponseAuthentication no

ClientAliveInterval 60
ClientAliveCountMax 3

IgnoreRhosts yes
