Port 22

SyslogFacility AUTH
LogLevel VERBOSE

Protocol 2

Compression yes
AddressFamily inet
Ciphers chacha20-poly1305@openssh.com,blowfish-cbc

UsePrivilegeSeparation yes
LoginGraceTime 120
StrictModes yes

PermitEmptyPasswords no
PermitRootLogin no
# AllowUsers USERNAME

PubkeyAuthentication yes
AuthorizedKeysFile %h/.ssh/authorized_keys
# PasswordAuthentication no

UsePAM yes
ChallengeResponseAuthentication yes
AuthenticationMethods publickey keyboard-interactive:pam
# AuthenticationMethods publickey keyboard-interactive

# AcceptEnv LANG LC_*

IgnoreRhosts yes
HostbasedAuthentication no

TCPKeepAlive no
ClientAliveInterval 120
ClientAliveCountMax 3
