AddressFamily inet
# AddressFamily any
Port 22 # TODO

LogLevel VERBOSE
# LogLevel DEBUG3

PrintMotd no
StrictModes yes
LoginGraceTime 30

Compression yes
KexAlgorithms curve25519-sha256
Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes128-gcm@openssh.com,aes256-ctr
MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com
HostKeyAlgorithms ssh-ed25519
HostKey /etc/ssh/ssh_host_ed25519_key # ssh-keygen -t ed25519 -f ssh_host_ed25519_key

PermitEmptyPasswords no
PermitRootLogin yes # TODO disable root login
# AllowUsers <user> # TODO
# AllowGroups <group> # TODO
MaxAuthTries 2

UsePAM yes

AuthorizedKeysFile .ssh/authorized_keys

AuthenticationMethods publickey keyboard-interactive # TODO disable keyboard-interactive

PubkeyAuthentication yes
KbdInteractiveAuthentication yes # TODO disable keyboard-interactive
GSSAPIAuthentication no
HostbasedAuthentication no
KerberosAuthentication no
PasswordAuthentication no

TCPKeepAlive yes
ClientAliveInterval 30
ClientAliveCountMax 3

# GatewayPorts clientspecified

# Subsystem sftp internal-sftp
