[user]
  name = niris
  email = smresc@gmail.com
[core]
  editor = vim
  autocrlf = input
[color]
  ui = true
[alias]
  ad = add -A
  st = status -bs
  ci = commit
  br = branch
  co = checkout
  df = diff HEAD --stat
  dff = diff HEAD
  ll = log --oneline --graph --decorate -10
