# !
!.opera/menu
!.opera/mouse
!.opera/operaprefs.ini
!.opera/search.ini
!.opera/speeddial.ini
!.opera/toolbar
!.opera/urlfilter.ini

# backup
*~
*.swp

# file
.RData
.Rhistory
.Xauthority
.appcfg_cookies
.appcfg_nag
.bash_history
.bash_logout
.bash_profile
.bzr.log
.dmrc
.gpg-agent-info
.gtk-custom-papers
.gtkrc-2.0
.gtkrc-2.0-kde4
.histfile
.kderc
.lesshst
.lftp/bookmarks
.lftp/rl_history
.mysql_history
.pulse-cookie
.pythonhist
.recently-used
.screenrc
.sqlite_history
.viminfo
.xsession-errors
.zcompdump
.zdirs
.zsh_history

# directary
.adobe/
.android/
.cache/
.config/
.dbus/
.designer/
.eclipse/
.fontconfig/
.gconf/
.gconfd/
.gem/
.ghc/
.gnupg/
.googleearth/
.gstreamer-0.10/
.java/
.kde4/
.local/
.lyx/
.macromedia/
.mozilla/
.mp3splt-gtk/
.mplayer/
.neocon/
.opera-next/
.opera/*
.pip/
.pki/
.pulse/
.r_library/
.rstudio-desktop/
.ssh/
.subversion/
.texlive/
.thumbnails/
.vim/
.xmind/
library/
study/
tmp/
