[user]
	name = niris
	email = smresc@gmail.com
[core]
	editor = vim
	;eol = lf
	;safecrlf = true
	autocrlf = input
[color]
	ui = true
[alias]
	ad = add -A
	st = status -bs
	ci = commit
	br = branch
	co = checkout
	df = diff HEAD --stat
	dff = diff HEAD
	ll = log -10 --oneline --graph --decorate
	l = log --graph --decorate --date=short --pretty=format:'%C(yellow)%h%Creset <%C(bold blue)%an%Creset@%C(bold cyan)%ad%Creset>%C(bold green)%d%Creset %s'
