# !
!.opera/menu
!.opera/mouse
!.opera/toolbar
!.opera/operaprefs.ini
!.opera/search.ini
!.opera/speeddial.ini
!.opera/urlfilter.ini

# backup
*~
*.swp

# file
.Xauthority
.appcfg_cookies
.appcfg_nag
.bash_history
.bash_logout
.bash_profile
.dmrc
.gpg-agent-info
.kderc
.mysql_history
.pulse-cookie
.recently-used
.sqlite_history
.viminfo
.xsession-errors
.gtk-custom-papers
.vim/.netrwhist
.lftp/rl_history
.lftp/bookmarks
.Rhistory
.RData
.zcompdump
.zdirs
.zsh_history

# directary
.adobe/
.android/
.cache/
.config/
.dbus/
.fontconfig/
.gconf/
.gconfd/
.ghc/
.gnupg/
.gstreamer-0.10/
.kde4/
.local/
.macromedia/
.mozilla/
.mp3splt-gtk/
.mplayer/
.opera/*
.pki/
.pulse/
.ssh/
.thumbnails/
library/
tmp/
study/

.lyx/
.texlive/
.subversion/
.pip/
.vim/undo/
.eclipse/
.xmind/
.rstudio-desktop/
.r_library/
