[Unit]
Description=aria2

[Service]
Restart=on-failure
Type=simple
ExecStart=/usr/bin/aria2c --conf-path=%h/.config/aria2/aria2.conf

[Install]
WantedBy=default.target
