server {
    listen 443 ssl;
    include conf.d/i.ssl.nginx;

    server_name example.com;

    location / {
        # alias /path/to/dir/;
        autoindex on;
        autoindex_exact_size off;
        autoindex_localtime on;

        # echo "USERNAME:$(openssl passwd 'PASSWORD'):PASSWORD" >> /path/to/htpasswd
        auth_basic_user_file /path/to/htpasswd;
        auth_basic "closed site";
    }
}
