# http://nginx.org/en/docs/http/server_names.html
# http://nginx.org/en/docs/http/converting_rewrite_rules.html
# http://serverfault.com/questions/426673/nginx-redirect-subdomain-to-sub-directory
# https://www.nginx.com/resources/wiki/start/topics/tutorials/config_pitfalls/

server {
	listen 80;
	server_name *.example.com;
	return 301 $scheme://example.org$request_uri;
}
server {
	listen 80;
	server_name example.com;
	return 204;
}


server {
	server_name ~^(?<sub>[a-zA-Z0-9-]+)\.domain\.com$;
	return 301 "http://domain.com/${sub}${request_uri}";
}
server {
	listen 80;
	server_name domain.com;
	return 204;
}
