server {
    listen 80;
    server_name example.com;

    location / {
        return 418;
    }
    location /.well-known/acme-challenge/ {
        alias /path/to/letsencrypt/webroot/.well-known/acme-challenge/;
        autoindex off;
    }
}
