js_import banip from 'conf.d/js/banip.js';

upstream redis_backend {
	server 127.0.0.1:6379;
	keepalive 64;
}

server {
	listen 443 ssl;
	http2 on;
	include conf.d/i.ssl.nginx;

	server_name example.com;

	# redis API
	location = /internal/redis/setex {
		internal;
		redis2_query setex $arg_key $arg_seconds $arg_value;
		redis2_pass redis_backend;
	}
	location = /internal/redis/exists {
		internal;
		redis2_query exists $arg_key;
		redis2_pass redis_backend;
	}

	location /service/ {
		# reject if it is blocked
		auth_request /internal/checkRequest;
		# add bad client to blocklist
		js_header_filter banip.checkResponse;

		proxy_pass http://upstream;
	}
	location = /internal/checkRequest {
		js_content banip.checkRequest;
	}
}
