server {
	listen 80 default_server;
	listen 443 ssl default_server;
	http2 on;

	server_name _;

	ssl_reject_handshake on;

	# openssl bug, https://forum.nginx.org/read.php?2,290250,290288
	include conf.d/i.ssl.nginx;

	location / {
		return 418;
	}
}
