<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>com.github.dreamacro.clash</string>
        <key>ProgramArguments</key>
        <array>
            <string>/path/to/go/bin/clash</string>
        </array>
        <key>RunAtLoad</key>
        <true/>
        <key>KeepAlive</key>
        <true/>
        <key>StandardOutPath</key>
        <string>/path/to/log/clash_out</string>
        <key>StandardErrorPath</key>
        <string>/path/to/log/clash_err</string>
    </dict>
</plist>
